body {
  background-color: #c5e4e7;
  font-family: "Space Mono", monospace;
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100%;
}

#card {
  width: 900px;
  margin: auto;
  padding: 30px 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  align-items: center;
}

#container {
  display: flex;
  height: 100vh;
}

.half {
  margin: auto;
  width: 45%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#green {
  background-color: #00474b;
  border-radius: 10px;
  height: 90%;
  margin-top: 20px;
}

#white {
  height: 80%;
}

#tip-percentage {
  padding: 20px 0px;
  width: 100%;
  justify-content: space-between;
}

#tip-percentage button {
  margin: 5px auto;
  width: 70px;
  padding: 3px 0px;
  border-radius: 5px;
}

#custom {
  margin: 5px auto;
  width: 110px;
  padding: 6px 0px;
  border-radius: 5px;
  background-color: #f3f9fa;
  text-align: center;
  color: #547878;
  font-size: 24px;
}

#custom::placeholder {
  color: #547878;
}

.flex {
  display: flex;
  flex-direction: column;
}

input,
button {
  border: 0px;
  font-family: "Space Mono", monospace;
}

.card input {
  color: #00474b;
}

input {
  border-radius: 5px;
}

#white label {
  color: #5e7a7d;
  font-size: 16px;
}

#bill,
#people {
  text-align: end;
  font-size: 24px;
}

#bill::placeholder,
#people::placeholder {
  color: #00474b;
}

#bill {
  background-image: url("../images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: 1em;
  background-size: 12px;
}

#bill,
#people {
  border: 2px solid transparent;
}

#bill:hover,
#people:hover {
  border: 2px solid #26c2ae;
}

#people {
  background-image: url("../images/icon-person.svg");
  background-repeat: no-repeat;
  background-position: 1em;
  background-size: 12px;
}

.blue {
  background-color: #f3f9fa;
}

.default-button {
  background-color: #00474b;
  color: white;
}

#tip-percentage button {
  font-size: 24px;
  width: 110px;
  height: 48px;
}

#twenty {
  background-color: #26c2ae;
}

#reset {
  bottom: 0px;
}

#reset-btn {
  background-color: #26c2ae;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin: auto;
}

#reset-btn:hover {
  background-color: #9fe8df;
  cursor: pointer;
}

#logo {
  width: 150px;
  position: absolute;
  height: 20%;
  left: 48%;
  top: 8%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

#green-content input {
  font-size: 48px;
  color: #26c2ae;
  background-color: none;
  max-width: 200px;
  text-align: end;
  background-color: none;
}

#green-content {
  margin: 2em;
}

#calcs {
  height: 200px;
  margin: 15% 0px;
}

.calculations {
  display: flex;
  justify-content: space-between;
}

.calculations label {
  color: white;
  width: 100px;
  font-size: 16px;
}

.calculations input {
  background-color: #00474b;
  color: #26c2ae;
  width: 200px;
}

.calculations input::placeholder {
  color: #26c2ae;
}

.grey {
  color: #7f9d9f;
  font-size: 13px;
}

#tip-percentage button:hover {
  background-color: #26c2ae;
  cursor: pointer;
}

.attribution{
  position: fixed;
  bottom:1rem;
  left:50%;
  margin-left: -190px;
}

/* Media Queries */

/*Mobile - 480px breakpoint */

@media screen and (max-width: 900px) {
  #card {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    padding: 30px 30px;
    height:auto;
    }

  #container{
    margin: 20vh auto;
  }

  .half div {
    margin: 10px 0px;
  }

  .margin {
    margin-top: 20px;
  }

  #green-content input {
    font-size: 32px;
  }

  .calculations input {
    background-color: #00474b;
    color: #26c2ae;
    width: 100px;
  }

  #logo {
    position: absolute;
    top: 5%;
    left: 42%;
  }

  .attribution{
    position:relative;
    margin-top: 18rem;
    bottom:auto;
    left:auto;
    margin-left: auto;
  }