body {
  background-color: #c5e4e7;
  font-family: "Space Mono", monospace;
}

#card {
  width: 900px;
  height: 480px;
  margin: auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  align-items: center;
}

#container {
  display: flex;
  height: 100vh;
}

.half {
  margin: auto;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#green {
  background-color: #00474b;
  border-radius: 10px;
  height: 90%;
}

#white {
  height: 80%;
}

#tip-percentage {
  padding: 20px 0px;
}

#tip-percentage button{
  margin: 5px 5px;
  width: 70px;
  padding: 3px 0px;
  border-radius: 5px;
}

#custom{
    margin: 5px 5px;
    width: 110px;
    padding: 6px 0px;
    border-radius: 5px;
    background-color: #f3f9fa;
    text-align: center;
    color: #547878;
    font-size: 24px;
}

#custom::placeholder{
    color: #547878;
}

.flex {
  display: flex;
  flex-direction: column;
}

input,button {
  border: 0px;
  font-family: "Space Mono", monospace;
}

.card input{
    color: #00474B;
}

input{
    border-radius: 5px;
}

#white label{
    color: #5E7A7D;
    font-size: 16px;
}

#bill,#people{
    text-align: end;
    font-size: 24px;
}

#bill::placeholder,#people::placeholder{
    color: #00474B;
}

#bill{
    background-image: url('/images/icon-dollar.svg');
    background-repeat: no-repeat;
    background-position: 1em;
    background-size: 12px;
}

#people{
    background-image: url('/images/icon-person.svg');
    background-repeat: no-repeat;
    background-position: 1em;
    background-size: 12px;
}

.blue {
  background-color: #f3f9fa;
}

.default-button {
  background-color: #00474b;
  color: white;
}

#tip-percentage button{
    font-size: 24px;
    width:110px;
    height:48px;
}

#twenty {
  background-color: #26c2ae;
}

#reset{
    bottom:0px;
}

#reset-btn {
  background-color: #26c2ae;
  border-radius: 5px;
  padding:10px;
  width:100%;
  margin:auto;
}

#logo {
  width: 150px;
  position: absolute;
  left: 50%;
  top: 15%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

#green-content input{
    font-size: 48px;
    color: #26C2AE;
    background-color: none;
    max-width:200px;
    text-align: end;
    background-color: none;
}

#green-content{
    margin: 2em;
}

#calcs{
    height:200px;
    margin:15% 0px;
}

.calculations{
    display: flex;
    justify-content: space-between;
}

.calculations label{
    color:white;
    width: 100px;
    font-size: 16px;
}

.calculations input{
    background-color: #00474b;
    color:#26C2AE
}

.calculations input::placeholder{
    color:#26c2ae;
}

.grey{
    color: #7F9D9F;
    font-size: 13px;
}

#tip-percentage button:hover{
    background-color: #26c2ae;
    cursor: pointer;
}